<template name='postSubmit'>
	<form class="main">
		<div class='control-group'>
			<label class='control-label' for='url'>URL</label>
			<div class='controls'>
				<input name='url' type="text" value="" placeholder='post URL'/>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='title'>Title</label>
			<div class='controls'>
				<input name='title' type='text' value="" placeholder='title of post'/>
			</div>			
		</div>
		<div class='control-group'>
			<label class='control-label' for='caption'>Caption</label>
			<div class='controls'>
				<input name='caption' type='text' value="" placeholder='caption'/>
			</div>			
		</div>
		<div class='control-group'>
			<div class='controls'>
				<input name='submit' type='submit' class='btn btn-primary'/>
			</div>			
		</div>
	</form>
</template>